body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background-color: #ffffff;
    color: black;
    border-bottom: 2px solid #a86f04;
}

header img{
    width: 300px;
    height: 300px;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: #a86f04;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 36px 18px;
    /* border: 1px solid black */
}
.container1{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* border: 1px solid black; */
}

.caixa{
    background-color: #ebdbbf;
    flex-direction: column;
    padding: 24px 12px;
    align-items: center;
    border: 1px solid #ccc;
    display: flex;
    /* justify-content: ; */

}

.caixa img{
    width: 300px; 
    height: 300px;
    
}