body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: #02507c;
    color: #fdfdfd;
    padding: 12px;
    border-radius: 50px;
}
button:hover{
    background-color: #53a2b6;
}

header{
    display: flex;
    background-color: #02507c;
    justify-content: space-between;
    align-items: center;
    color: #fdfdfd;

    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

header ul{
    display: flex;

    gap: 20px;
    list-style: none;
}


nav  ul{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

    list-style: none;
    padding: 20px;
}

nav a{
    color: #fdfdfd;
    text-decoration: none;
    padding: 16px;
    border: 2px solid #fdfdfd;
    border-radius: 30px;
}

nav a:hover{
    background-color: #53a2b6;
    font-weight: bold;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.card{
    flex: 1;

    width: 220px;
    border: 2px solid #ccc;
    padding: 30px;
    text-align: center;
}

.card img{
    width: 100%;
}

.produto{
    width: 600px;
    border: 1px solid #ccc;
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.produto img{
    width: 150px;
    height: 150px;

    object-fit: cover;
    border-radius: 50%;
}

.dados{
    display: flex;
    flex-direction: column;
}
